* {
    box-sizing: border-box;
}

html {
    background: #ffffff;
}

body {
    max-width: 80vw;
    margin: 1em auto;
    padding: 1em;
    background: #f7f7f7;
    border-radius: 0.5em;
    padding: 3em;
    box-shadow: 0.8em 0.8em 0.8em #c4c4c4;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

section:nth-of-type(1) {
    padding-top: 1em;
    max-width: 36vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section:nth-of-type(1) img {
    max-width: 5vw;
}

section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2em;
}

section:nth-of-type(2) img {
    max-width: 17vw;
    margin: 0.6em;
}

#knoprood,
#knoporanje,
#knopgroen,
#knopblauw,
#knoproze,
#knoppaars {
    border: none;
    color: white;
    width: 6em;
    height: 6em;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}

#knoprood {
    background-color: red;
}

#knoporanje {
    background-color: orange;
}

#knopgroen {
    background-color: green;
}

#knopblauw {
    background-color: blue;
}

#knoproze {
    background-color: deeppink;
}

#knoppaars {
    background-color: purple;
}

.verstoppen {
    display: none;
}
