/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
    width: 85%;
    margin: 0 auto;
}

h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

section {
    display: flex;
    flex-wrap: nowrap
}

section article {
    width: 35%;
    float: left;
    margin-right: 100px;
}

section p {
    margin: 5px 0;
    margin-bottom: 30px;
    font-weight: 400;
}

section img {
    max-width: 30rem;
}

section ul {
    margin-top: 0;
}
