* {
    margin: 0rem;
    padding: 0rem;
}

@media screen and (min-width: 1300px) and (max-width: 1500px) {

    body {
        width: 92vw;
        margin-left: 8%;
        overflow-x: hidden;
    }

    .green {
        color: #4C9879;
        font-weight: 500;
    }

    .landing {
        position: relative;
        width: 100%;
        height: 38rem;
    }

    .landingL {
        position: absolute;
        max-width: 43vw;
        height: 8rem;
        top: 12rem;
    }

    .landingImg {
        position: absolute;
        max-width: 27rem;
        height: auto;
        top: 7rem;
        right: 8%;
    }

    .cv_button {
        position: absolute;
        max-width: 5rem;
        height: auto;
    }

    .button {
        position: absolute;
        width: 13.5rem;
        height: 4rem;
        top: 22rem;
        padding: 1rem;
        background-color: #4C9879;
        color: #ffffff;
        border: none;
        border-radius: 30px;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 3.5rem;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
    }

    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    section {
        width: 93%;
        display: flex;
        flex-direction: row;
    }

    section a {
        text-decoration: none;
        width: 30rem;
        height: 30rem;
    }

    div a div {
        width: 25rem;
        height: 25rem;
        border-radius: 25px;
    }

    .nummer_een {
        background-image: url(../images/voyage_1.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .nummer_twee {
        background-image: url(../images/beyond_1.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .nummer_drie {
        background-image: url(../images/ubi_1.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .nummer_vier {
        background-image: url(../images/beethere_1.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .nummer_vijf {
        background-image: url(../images/npd_1.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .nummer_zes {
        background-image: url(../images/timetrav_1.png);
        background-repeat: no-repeat;
        background-size: contain;
    }


    .nummer_een:hover {
        background-image: url(../images/voyage_2.png);
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.5s;
    }

    .nummer_twee:hover {
        background-image: url(../images/beyond_2.png);
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.5s;
    }

    .nummer_drie:hover {
        background-image: url(../images/ubi_2.png);
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.5s;
    }

    .nummer_vier:hover {
        background-image: url(../images/beethere_2.png);
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.5s;
    }

    .nummer_vijf:hover {
        background-image: url(../images/npd_2.png);
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.5s;
    }

    .nummer_zes:hover {
        background-image: url(../images/timetrav_2.png);
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.5s;
    }

    .tekst {
        width: 45rem;
        height: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.3rem;
        color: #000000;
    }
}
